
    <app-message message={{responseMessage.message}}
                class="{{true == responseMessage.error ? 'alert-danger' : 'alert-success'}}"
                *ngIf="'' != responseMessage.message"/>

    <button (click)="openModalAdd()" type="button" class="btn btn-info btn-circle btn-lg rounded"><i class="fa fa-plus"></i> Adicionar</button>

    <mat-card>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped table-hover">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> ID. </th>
            <td mat-cell *matCellDef="let procedimento"> {{ procedimento.id }} </td>
          </ng-container>
        
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> Nome </th>
            <td mat-cell *matCellDef="let procedimento"> {{ procedimento.nome }} </td>
          </ng-container>
  
          <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> Valor </th>
              <td mat-cell *matCellDef="let procedimento"> {{ procedimento.valor }} </td>
          </ng-container>

          <ng-container matColumnDef="cor">
            <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> Cor </th>
            <td mat-cell *matCellDef="let procedimento"> <div class="col-sm-10"><input id="inputCor" ejs-colorpicker type="color" value="{{procedimento.cor}}" cssClass="e-custom-picker" disabled/></div></td>
          </ng-container>

          
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef class="table-light text-primary float-end" scope="col">  </th>
            <td mat-cell *matCellDef="let procedimento"><a (click)="openModalEditPaciente(procedimento.id)"><i class="fas fa-pencil-alt"></i></a></td>
          </ng-container>
          
          <ng-container matColumnDef="deletar">
              <th mat-header-cell *matHeaderCellDef class="table-light text-primary float-end" scope="col">  </th>
              <td mat-cell *matCellDef="let procedimento"><a (click)="openModalDeletePaciente(procedimento.id, procedimento.nome)"><i class="fa fa-trash"></i></a></td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator
                     [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
  </mat-card>
