<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="assets/img/logoDRAThais.png" width="45" height="35" class="d-inline-block align-top" />
  </a>
  
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item dropdown dropleft">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
         <img class="userlogin" src="assets/img/foto.png" id="userLogin" width="30" height="30"> Dra Thais 
      </a>
      <div class="dropdown-menu">
        <a (click)="logout()" class="dropdown-item">Sair</a>
      </div>
    </li>
  </ul>
</nav>
