
  <app-message message={{responseMessage.message}}
              class="{{true == responseMessage.error ? 'alert-danger' : 'alert-success'}}"
              *ngIf="'' != responseMessage.message"/>

  <button (click)="openModalAddPaciente()" type="button" class="btn btn-info btn-circle btn-lg rounded"><i class="fa fa-plus"></i> Adicionar</button>

  <mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped table-hover">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> ID. </th>
          <td mat-cell *matCellDef="let paciente"> {{ paciente.id }} </td>
        </ng-container>
      
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> Nome </th>
          <td mat-cell *matCellDef="let paciente"> {{ paciente.nome }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> Email </th>
            <td mat-cell *matCellDef="let paciente"> {{ paciente.email }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> Status </th>
          <td mat-cell *matCellDef="let paciente"> {{ paciente.status }} </td>
        </ng-container>

        <ng-container matColumnDef="ultimaconsulta">
          <th mat-header-cell *matHeaderCellDef class="table-light text-primary" scope="col"> Ultima Consulta </th>
          <td mat-cell *matCellDef="let paciente"> {{ paciente.ultimaConsulta }} </td>
        </ng-container>
        
        <ng-container matColumnDef="anamnese">
          <th mat-header-cell *matHeaderCellDef class="table-light text-primary float-end" scope="col">  </th>
          <td mat-cell *matCellDef="let paciente"><a (click)="openModalUpdateAnamnese(paciente.id, paciente.nome)"><i class="fa fa-id-card"></i></a></td>
        </ng-container>
        
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef class="table-light text-primary float-end" scope="col">  </th>
            <td mat-cell *matCellDef="let paciente"><a (click)="openModalEditPaciente(paciente.id)"><i class="fas fa-pencil-alt"></i></a></td>
        </ng-container>

        <ng-container matColumnDef="deletar">
          <th mat-header-cell *matHeaderCellDef class="table-light text-primary float-end" scope="col">  </th>
          <td mat-cell *matCellDef="let paciente"><a (click)="openModalDeletePaciente(paciente.id, paciente.nome)"><i class="fa fa-trash"></i></a></td>
      </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>

   