<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Arquivo</h5>
    <button type="button" class="close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">     

    <embed *ngIf="tipoArquivo != 'application/pdf'"
           [src]="url | safe" 
           class="img-fluid rounded mx-auto d-block" 
           width="60%" 
           height="60%" 
           type={{tipoArquivo}}/>

    <pdf-viewer *ngIf="tipoArquivo === 'application/pdf'"
                [src]="url" 
                style="width: 100%; height: 800px;"
                [rotation]="0"
                [original-size]="false"
                [show-all]="true"
                [fit-to-page]="false"
                [zoom]="1"
                [zoom-scale]="'page-width'"
                [stick-to-page]="false"
                [render-text]="true"
                [external-link-target]="'blank'"
                [autoresize]="true"
                [show-borders]="false">
            
    </pdf-viewer>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close()">Fechar</button>
</div>

