
    <app-message message={{responseMessage.message}}
                class="{{true == responseMessage.error ? 'alert-danger' : 'alert-success'}}"
                *ngIf="'' != responseMessage.message"/>

    <button (click)="openModalAddArquivo()" type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-plus"></i> Adicionar</button>
    <div class="container-fluid flex p-3 my-3">
        <table mdbTable #tableEl="mdbTable" class="table table-striped table-hover table-bordered" >
            <thead>
                <tr>
                    <th class="table-light text-primary th-sm" scope="col">
                        ID
                    </th>
                    <th class="table-light text-primary th-sm" scope="col">
                        Nome
                    </th>
                    <th class="table-light text-primary th-sm float-end" scope="col"></th>
                    <th class="table-light text-primary th-sm float-end" scope="col"></th>
                    <th class="table-light text-primary th-sm float-end" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of elements; let i = index">
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"scope="row">{{ el.id }}</th>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ el.nome }}</td>
                    <td class="float-end" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a (click)="openModalViewArquivo(el.id, el.tipo)"><i class="fa fa-id-card"></i></a></td>
                    <td class="float-end" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a (click)="openModalEditArquivo(el.id)"><i class="fas fa-pencil-alt"></i></a></td>
                    <td class="float-end" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a (click)="openModalDeleteArquivo(el.id, el.nome)"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100 ">
                <tr>
                    <td colspan="4">
                        <div class="position-absolute end-0">
                            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>