
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Deletar Paciente</h5>
    <button type="button" class="close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Tem certeza que dejesa deletar o arquivo: <span>{{nome}}</span>?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close()">Cancelar</button>
    <button type="button" class="btn btn-danger"(click)="delete()">Deletar</button>
</div>
