<header class="p-3 mb-2 bg-primary text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
      <div class="col-md-3 mb-2 mb-md-0">
        <a class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img class="rounded mx-auto d-block" width="80" height="70" src={{urlLogo}} />
        </a>
      </div>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a class="nav-link px-2 link-secondary text-dark rounded" routerLink="/agendamento" routerLinkActive="activeLink" (click)="selecionarMenu('Agendamentos')">
            Agendamento
          </a>
        </li>
        <li>
          <a  class="nav-link px-2 link-secondary text-dark rounded" routerLink="/paciente" routerLinkActive="activeLink" (click)="selecionarMenu('Pacientes')">
            Pacientes
          </a>
        </li>
        <li>
          <a class="nav-link px-2 link-secondary text-dark rounded" routerLink="/procedimentos" routerLinkActive="activeLink" (click)="selecionarMenu('Procedimentos')">
            Procedimentos
          </a>
        </li>
        <li>
          <a class="nav-link px-2 link-secondary text-dark rounded" routerLink="/arquivos" routerLinkActive="activeLink" (click)="selecionarMenu('Arquivos')">
            Arquivos
          </a>
        </li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="rounded-circle me-2" src={{urlFoto}} id="userLogin" width="80" height="70"> {{user?.nome}}
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" (click)="openModalAtualizarLogo()">Logo</a></li>
          <li><a class="dropdown-item" (click)="openModalInfoUsuario()">Informações</a></li>
          <li><a class="dropdown-item" (click)="logout()">Sair</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>